<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="MetatagsPartial.cshtml" />
    <partial name="CssPartial.cshtml" />
</head>
<body>
    <partial name="NavPartial.cshtml">
        

        @RenderBody()

        <footer class="border-top footer text-muted">
            <partial name="FooterPartial" />
        </footer>
        <partial name="ScriptsPartial.cshtml" />
        @RenderSection("Scripts", required: false)
</body>
</html>
